<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/css.css" />
    <title>Home</title>
</head>
<body>
    {{>header}}

    <div class="container">
    <h1 class="header">Egyptian News</h1>
        {{#each articles}}
        <div class="card" style="width: 18rem;display:inline-block;height:auto">
            <img src="{{urlToImage}}" class="card-img-top card__image" alt="{{urlToImage}}"  style="height: 200px;" />
            <div class="card-body">
                <h5 class="card-title card__title" title="{{title}}">
                    <a href="{{url}}">{{title}}</a>
                </h5>
                <p class="card-text card__description">
                    {{description}}
                </p>
            </div>
        </div>
        {{/each}}
        <p class="btn-danger text-center">{{error}}</p>
    </div>

    {{>footer}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>